.search-modal {
  opacity: 0;
  height: 100%;
}

.search-modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding:0 5rem 0 1.6rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
}

.search-modal__form {
  width: 100%;
}

.search-modal__close-button {
  position: absolute;
  right: 0.6rem;
}

@media screen and (min-width: 750px) {
  .search-modal__close-button {
    right: 1rem;
  }

  .search-modal__content {
    padding: 0 8rem;
  }
}

@media screen and (min-width: 990px) {
  .search-modal__close-button {
    position: initial;
    margin-left: 0.5rem;
    margin-right: -1rem;
  }
}

.search__input.field__input {
  padding: 0;
  box-shadow: none;
  background: transparent;
  height: 3.6rem;
  font-weight: 500;
  font-size: 24px;
}

.search__input.field__input::placeholder {
  opacity: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(38, 38, 38, 0.5);
}

@media screen and (max-width: 749px) {
  .search__input.field__input {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .search__input.field__input::placeholder {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.search__button {
  right: auto;
  left: -1rem;
  color: rgba(38, 38, 38, 0.5);
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search-modal__form .field__label {
  font-weight: 400;
  font-size: 2.4rem;
  color: rgba(38, 38, 38, 0.5);
  top: .5rem;
  left: 3.2rem;
  display: none;
}

.search-modal__form .field__input:focus~.field__label {
  opacity: 0;
}

.search-modal__form .field__input:focus {
  padding: 0;
}