.product-grid {
  margin-top: 2.4rem;
}

.product-grid .grid__item {
  padding-bottom: 2.4rem;
}

.product-grid.negative-margin {
  margin-bottom: -2rem;
}

@media screen and (min-width: 750px) {
  .product-grid .grid__item {
    padding-bottom: calc(0.4rem + var(--page-width-margin));
  }

  .product-grid.negative-margin {
    margin-bottom: calc(-0.4rem - var(--page-width-margin));
  }

  .product-grid.negative-margin--small {
    margin-bottom: calc(-1rem - var(--page-width-margin));
  }

  .product-grid.margin--big {
    margin-bottom: calc(5.4rem - var(--page-width-margin));
  }
}
