.newsletter__wrapper {
  background: var(--color-newsletter-bg);
  color: rgba(var(--color-newsletter-text));
}

.newsletter__wrapper h2,
.newsletter-text__subheading {
  color: rgba(var(--color-newsletter-text));
}



.newsletter--narrow .newsletter__wrapper,
.newsletter:not(.newsletter--narrow) .newsletter__wrapper.color-background-1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .newsletter-text__subheading {
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: normal;
  }
}

@media screen and (max-width: 749px) {
  .newsletter-text__subheading {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    font-weight: normal;
  }
}

.newsletter__wrapper {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}



@media screen and (min-width: 750px) {
  .newsletter--narrow .newsletter__wrapper,
  .newsletter:not(.newsletter--narrow) .newsletter__wrapper.color-background-1 {
    margin-top: calc(5rem + var(--page-width-margin));
    margin-bottom: calc(5rem + var(--page-width-margin));
  }
}

.newsletter__wrapper {
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2.4rem;
}

.newsletter-text__subheading + * {
  margin-top: 1.6rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 4rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: rgba(var(--color-newsletter-text));
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}


@media screen and (max-width: 749px) {
  .newsletter__wrapper {
    padding: 3.2rem 1.6rem;
    text-align: left;
  }

  .newsletter__subheading {
    margin-top: 1.6rem;
  }

  .newsletter__wrapper > * + .newsletter-form {
    margin-top: 2.4rem;
  }
}