.rich-text {
  margin: auto;
  text-align: center;
}

.rich-text.rich-text--full-width {
  max-width: initial;
  width: 100%;
}

.rich-text__blocks {
  margin: auto;
  width: 100%;
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text--full-width .rich-text__blocks {
  width: 100%;
}

.rich-text:not(.rich-text--full-width),
.rich-text--full-width.color-background-1 {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
}

.rich-text:not(.color-background-1) {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.rich-text--left {
  text-align: left;
}

.rich-text--left .rich-text__blocks {
  margin: 0;
}

@media screen and (min-width: 750px) {
  .rich-text:not(.rich-text--full-width),
  .rich-text--full-width.color-background-1 {
    margin-top: calc(5rem + var(--page-width-margin));
    margin-bottom: calc(5rem + var(--page-width-margin));
  }

  .rich-text:not(.color-background-1) {
    padding-top: calc(6.4rem + var(--page-width-margin));
    padding-bottom: calc(6.4rem + var(--page-width-margin));
  }

  .rich-text--full-width .rich-text__blocks {
    width: 100%;
  }

  .rich-text__subheading {
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: normal;
  }

  .rich-text__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.02em;
  }
}

/* Blocks */

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2.4rem;
}

.rich-text__blocks > * + a {
  margin-top: 4rem;
}

.rich-text__subheading + * {
  margin-top: 1.6rem;
}

@media screen and (max-width: 749px) {
  .rich-text {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  .rich-text__blocks > * + * {
    margin-top: 1.6rem;
  }

  .rich-text__blocks > * + a {
    margin-top: 2.4rem;
  }

  .rich-text__subheading {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    font-weight: normal;
  }

  .rich-text__text {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .rich-text--full-width .rich-text__blocks {
    width: 100%;
  }

  .button {
    width: 100%;
  }

  .rich-text--left .button {
    width: auto;
  }
}