.logo-list__no-image {
  color: rgba(var(--color-foreground));
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.logo-list__link {
  color: rgba(var(--color-foreground));
  text-decoration: none;
}

.logo-list .multicolumn-card {
  height: 100%;
}

.logo-list .logo-list__no-image {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.logo-list .slider__controls {
  margin-top: 4rem;
}

@media screen and (max-width: 749px) {
  .multicolumn-list__item:last-child {
    margin: 0 0 var(--grid-mobile-vertical-spacing);
  }
}