.contact img {
  max-width: 100%;
}

.contact .page-width--narrow form {
  max-width: 63.2rem;
  margin:0 auto;
}

.contact:not(.contact--has-text) .title, .contact:not(.contact--has-text) .contact__text {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .contact--has-text .page-width {
    max-width: var(--page-width);
    padding: 0 8rem;
  }
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 1.6rem;
  }
}

.contact__button {
  margin-top: 1.6rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 1.6rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.contact__full-width {
  padding: 0 1.6rem;
}

@media screen and (min-width: 750px) {
  .contact__full-width {
    padding: 0 8rem;
    max-width: 100%;
  }
}

.contact--with-bg {
  padding: 3.2rem 0;
  margin: 0 auto;
}

.contact--with-bg .title {
  margin-top: 0;
}

.contact--with-bg.spaced-section:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .contact--with-bg {
    padding: 6.4rem 0;
    margin: 0 auto;
  }
}

.contact__text p {
  margin: 0;
}

.contact__text p + p {
  margin-top: 10px;
}

@media screen and (min-width: 990px) {
  .contact--onecolumn-left .title,
  .contact--twocolumns .title,
  .contact--onecolumn-left .contact__text,
  .contact--twocolumns .contact__text {
    text-align: left;
  }

  .contact--onecolumn-left:not(.contact--has-text) form {
    max-width: 50%;
  }

  .contact__text {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.02em;
  }

  .contact__text p {
    margin-top: 0;
  }
}
