.video-with-text__media iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.video-with-text .video-section__poster {
    position: relative;
    display: inline-block;
    width: 8rem;
    height: 8rem;
    overflow: visible;
    margin-bottom: 3rem;
}

.video-with-text .deferred-media[loaded] + .banner__content .deferred-media__poster {
    display: none;
}

@media screen and (max-width: 749px) {
    .video-with-text .video-with-text__media {
        display: block;
    }

    .video-with-text.banner:not(.banner--mobile-bottom):not(.email-signup-banner) .banner__box {
        --color-foreground: 0, 0, 0;
        --color-button: 0, 0, 0;
        --color-button-text: 255, 255, 255;
    }

    .video-with-text .video-section__poster {
        width: 5.6rem;
        height: 5.6rem;
        margin-bottom: 1rem;
    }
}