.blog-placeholder {
  margin: 0 1.5rem;
  background: rgb(var(--color-background));
}

@media screen and (min-width: 750px) {
  .blog-placeholder {
    text-align: center;
    width: 50%;
    margin: 0;
  }
}

.blog-placeholder__content {
  padding: 3rem;
  background: rgba(var(--color-foreground), 0.04);
}

.blog-placeholder .placeholder {
  position: relative;
}

.blog-placeholder h2 {
  margin: 0;
}

.blog-placeholder .rte-width {
  margin-top: 1.2rem;
  color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 990px) {
  .grid--full-width .article-card .card__content {
    text-align: center;
  }
}

.blog__title {
  margin: 0;
}

.blog__posts.articles-wrapper {
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    margin-bottom: 0;
  }
}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 5.2rem);
  }

  .blog__posts.articles-wrapper:not(.slider) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  .blog__posts.articles-wrapper:not(.slider) .blog__post.article {
    min-width: 100%;
  }

  .blog__posts.articles-wrapper:not(.slider) .blog__post.article .article-card__excerpt {
    margin-bottom: 3.2rem;
  }
}

.blog__posts .card-wrapper {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .blog__button {
    margin-top: 4.4rem;
  }
}

.blog__subheading {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
}

.blog__subheading + .title-wrapper-with-link {
  margin-top: 1.6rem;
}

@media screen and (max-width: 749px) {
  .blog__subheading {
    padding: 0 1.6rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}

