.collection-grid-section {
  margin-top: 4.6rem;
}

.collection {
  position: relative;
}

@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .collection .title:not(.title--no-heading) {
    margin-top: -1rem;
  }

  .collection-grid-section {
    margin-top: 0;
  }

  .facets__form-sort {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .collection__sidebar {
    position: relative;
    z-index: 1;
  }

  .collection .title-wrapper-with-link--no-heading {
    margin-top: calc(6rem + var(--page-width-margin));
  }

  .grid .collection__sidebar {
    width: 22%;
    max-width: 308px;
  }

  .grid .collection__products-grid {
    width: calc(78% - 3.2rem);
    padding-left: 3.2rem;
    margin-left: auto;
  }

  .grid .collection__sidebar .product-count,
  .grid .collection__sidebar .facet-filters,
  .grid .collection__sidebar .facets__form + .active-facets,
  .grid .collection__sidebar .mobile-facets__close,
  .grid .collection__sidebar .mobile-facets__open-wrapper {
    display: none;
  }

  .grid .collection__sidebar .mobile-facets__disclosure,
  .grid .collection__sidebar .mobile-facets__wrapper,
  .grid .collection__sidebar .facets__form {
    display: flex;
    width: 100%;
  }

  .grid .collection__sidebar .mobile-facets__header {
    border-bottom: none;
    padding: 0 0 .8rem;
    background: none;
  }

  .grid .collection__sidebar .mobile-facets__summary {
    padding: 1.6rem 0;
    margin: 0;
  }

  .grid .collection__sidebar .mobile-facets .active-facets {
    padding: 0;
    margin: 0;
    align-items: baseline;
  }

  .grid .collection__sidebar .mobile-facets__submenu {
    margin:0;
  }

  .grid .collection__sidebar .mobile-facets .facets__price {
    padding: 0 1.6rem;
  }

  .grid .collection__sidebar .mobile-facets__footer {
    padding: 3.2rem 0;
  }

  .grid .collection__sidebar .disclosure-has-popup:not(.menu-opening) .mobile-facets__inner {
    transform: translateX(0);
  }

  .grid .collection__sidebar .mobile-facets__heading {
    font-size: calc(var(--font-heading-scale) * 2rem);
    line-height: 3.2rem;
  }

  .grid .collection__sidebar .mobile-facets__footer {
    display: none;
  }

  .facets__form-sort {
    display: flex;
    justify-content: space-between;
  }

  .facets-sidebar {
    display: none;
  }

  .collection__products-grid .grid__item {
    max-width: 33.33%;
  }

  .collection-grid .mobile-facets {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    background: none;
  }

  .collection-grid .mobile-facets__inner {
    max-width: 100%;
    width: 100%;
    overflow: inherit;
  }

  .facets__form--sticky {
    position: sticky;
    top: 3rem;
    z-index: 2;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}
